@import "tailwindcss";
@plugin "daisyui/theme" {
  name: "elizabeth";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25% 0.09 281.288);
  --color-base-200: oklch(35% 0.144 278.697);
  --color-base-300: oklch(39% 0.195 277.366);
  --color-base-content: oklch(93% 0.034 272.788);
  --color-primary: oklch(81% 0.111 293.571);
  --color-primary-content: oklch(28% 0.141 291.089);
  --color-secondary: oklch(81% 0.111 293.571);
  --color-secondary-content: oklch(28% 0.141 291.089);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(39% 0.195 277.366);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --depth: 0;
  --noise: 1;
}
@plugin "daisyui" {
  themes:
    bumblebee --default,
    elizabeth --prefersdark;
}



#app {
  height: 100dvh;
}
